In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import os
from splinter import Browser
import time

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
 # URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [ ]:
 # Examine the results, then determine element that contains sought info
print(soup.prettify())

## NASA Mars News

In [ ]:
title = soup.find("div", class_="list_text").find("div", class_="content_title").text
print(title)

In [ ]:
paragraph = soup.find('div', class_='article_teaser_body').text
print(paragraph)

## JPL Mars Space Images - Featured Image
- Visit the url for JPL Featured Space Image here.
- Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
- Make sure to find the image url to the full size .jpg image.
- Make sure to save a complete url string for this image.

In [ ]:
imageurl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
#browse article
browser.visit(imageurl)
html = browser.html
soup = bs(html, "html.parser")
print(soup.prettify)

In [ ]:
image = soup.find("a", class_="button fancybox")["data-fancybox-href"]
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

## Mars Facts
- Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

- Use Pandas to convert the data to a HTML table string.

In [5]:
#url for mars facts webpage
facts_url = "https://space-facts.com/mars/"

In [6]:
#browse the page
browser.visit(facts_url)

In [7]:
#read the tables
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [8]:
mars_table = tables[0]
mars_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
new_table = mars_table.rename(columns={0: 'Description', 1: "Mars"})
final_table = new_table.set_index("Description")
final_table

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
html_table = mars_table.to_html(classes = 'table table-striped')
html_table = html_table.replace('\n','')

## Mars Hemispheres

- Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
- You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
- Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
- Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [ ]:
astro_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(astro_url)
html = browser.html
soup = bs(html, 'html.parser')

In [ ]:
#image1 = soup.find("img",class_="thumb")['src']
#print(image1)

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
astro_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(astro_url)

In [ ]:
html = browser.html
soup = bs(html, 'html.parser')

astro_results = soup.find_all('div', class_='item')

dict_list = []

# loop over results to get article data
for result in astro_results:
    try:
        
        #loop through page and scrape image titles
        title = result.find('h3').text
        
        #click into next page to grab images
        browser.click_link_by_partial_text(title)
        
        html = browser.html
        soup = bs(html, 'html.parser')
        
        image_results = soup.find('div', class_="downloads").find('a')['href']
        
        #add titles and images to dictionary
        hem_dict = {
            'title': title,
            'img_url': image_results
        }
        
        #append dictionary to list
        dict_list.append(hem_dict)

                    
    except Exception as e:
        print(e)
        
    browser.back()

In [ ]:
dict_list